<!DOCTYPE html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Header e navbar -->
    {% include header.html %}
    <main>
      <!-- Hero -->
      <section class="home" id="home">
        <div class="content">
          <h2>Ciao mondo,<br/> sono <span>Carmelo Castiglione</span></h2>
          <p>e insegno <span class="typing-text">informatica</span></p>
          <img class="qrcode" src="/assets/images/qrcode.png" alt="">
        </div>
        <div class="image">
          <img src="/assets/images/avataaars.png" alt="">
          <div class="socials">
            <ul class="social-icons">
              <li><a class="linkedin" aria-label="LinkedIn" href="https://www.linkedin.com/in/carmelo-castiglione/" target="_blank"><i class="fab fa-linkedin"></i></a></li> 
              <li><a class="github" aria-label="GitHub" href="https://github.com/carmelocastiglione" target="_blank"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
        </div>
      </section>
      <!-- Intro -->
      <section class="intro" id="intro">
        <h2 class="heading">
          <i class="fa-solid fa-person-chalkboard"></i> Appunti di <span>informatica</span>
        </h2>
        <p>{{ content }}</p>
        </div>
      </section>
    </main>
    <!-- Footer -->
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>