<!DOCTYPE html>
<html lang="it">
  <head>
    {% include head.html %}
  </head>
  <body>
    <!-- Header e navbar -->
    {% include header.html %}
    <main>
        <div class="container">
            <h1 class="heading">{{ page.title }}</h1>
            {{ content }}
            {% if page.last_modified_at %}
            <p>Ultima modifica a questa pagina: {{ page.last_modified_at | date: "%d/%m/%Y alle %H:%M" }}</p>
            {% endif %}
        </div>
    </main>
    <!-- Footer -->
    <footer>
      {% include footer.html %}
    </footer>
  </body>
</html>